body {
  background-image: url("../Images/mtngrl1024.jpg");
  background-repeat: no-repeat;
  background-color: #b0c4de;
   background-attachment: fixed;
   /*background-size: 1024px 768px;
   width: 1024px;
   height: 768px;*/

}
#introMessage {

}
