body {
  background-image: url("../Images/mtngrl1024.jpg");
  background-repeat: no-repeat;
  background-color: #b0c4de;
   background-attachment: fixed;
   /*background-size: 1024px 768px;
   width: 1024px;
   height: 768px;*/

}

		#introMessage {
			/*background-image:url(chicago.jpg);*/
			width:100px;
			height:100px;
			/*float:left;*/
		}
		#tagName {
			width:180%;
			xheight:20%;
			margin:center;
			xpadding-top:1%;
			text-align: center;
			/*background:#fff;*/
            background: transparent;
			opacity:0.2;
			filter:alpha(opacity=20);
		}
		#introMessage:hover #tagName {
			opacity:0.9;
			filter:alpha(opacity=90);
		}


.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color: #0F4B5E;
	font-family:Arial;
	font-size:11px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
.style-5 input[type="number"] {
  padding: 10px;
  border: solid 1px black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.style-5 input[type="number"]:focus,
.style-5 input[type="number"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.style-5 input[type="text"] {
  padding: 10px;
  border: solid 1px black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.style-5 input[type="text"]:focus,
.style-5 input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.style-5 input[type="date"] {
  padding: 10px;
  border: solid 1px black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.style-5 input[type="date"]:focus,
.style-5 input[type="date"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.style-5 input[list="transactionTypes"] {
  padding: 10px;
  border: solid 1px black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.style-5 input[list="transactionTypes"]:focus,
.style-5 input[list="transactionTypes"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
tr.withdrawRow {
  color: red;
}
tr.depositRow {
  color: green;
}
#mainTable {
    background-color: white;
}
#welcomePage, #accountMainPage{
display:none;
}
#mainTable tr:nth-child(2n){
	background-color:#e6eef0;
}
