body {
  background-image: url("../Images/mtngrl1024.jpg");
  background-repeat: no-repeat;
  background-color: #b0c4de;
  background-attachment: fixed;
  background-size: cover;
  margin:25px;
  /*background-size: 1024px 768px;
  width: 1024px;
  height: 768px;*/

}

#introMessage {
	/*background-image:url(chicago.jpg);*/
	/*xwidth:100px;*/
	/*xheight:100px;*/
	text-align: left;
	/*float:left;*/
}

#introMessage:hover #tagName {
	opacity:0.9;
	filter:alpha(opacity=90);
}

.myButton {
	-moz-box-shadow: 3px 4px 0 0 #899599;
	-webkit-box-shadow: 3px 4px 0 0 #899599;
	box-shadow: 3px 4px 0 0 #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color: #0F4B5E;
	font-family:Arial;
	font-size:11px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0 1px 0px #e1e2ed;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
.style-5 input[type="number"] {
  padding: 10px;
  border: solid 1px black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

.style-5 input[type="number"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.style-5 input[type="text"] {
  padding: 10px;
  border: solid 1px black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

.style-5 input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.style-5 input[list="transactionTypes"] {
  padding: 10px;
  border: solid 1px black;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

.style-5 input[list="transactionTypes"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
tr.withdrawRow {
  color: red;
}
tr.depositRow {
  color: #16A808;
}
#mainTable {
    xbackground-color: white;
	width:800px;
	border-spacing: 0px;
	xborder:solid black 1px;
}
#mainTable th.balance, th.amount {
	width:12%;
}
#mainTable th.date {
	width:20%;
}
#mainTable th.memo{
	width:30%;
}
#mainTable th {
	border-bottom:solid black 1px;
	border-top:solid black 1px;
}
#mainTable th.date{
	border-left:solid black 1px;
}
#mainTable th.type {
	width:18%
}
#mainTable td.date, #mainTable td.type, #mainTable td.amount, #mainTable td.memo {
	border-right:solid black 1px;
}
#mainTable td.date{
	border-left:solid black 1px;
}
#mainTable td.balanceCol, th.balance{
	border-right:solid black 1px;
}
#mainTable td.amount, #mainTable td.balanceCol {
	text-align: right;
}
#welcomePage, #accountMainPage {
display:none;
}

#datepicker {
	height:17px;
	vertical-align: middle;
    padding: 10px;
    border: solid 1px black;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}

#datepicker.focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}


#accountMainPage input {
	vertical-align:middle;
}
#mainTable tr:nth-child(2n) {
	background-color:#e6eef0;
}
#mainTable tr:last-child td:not(.edit):not(.delete){
	border-bottom: solid black 1px;
}
#mainTable tr:nth-child(2n-1){
	background-color:white;
}
#accountMainPage form input {
	font-size: 14px;
}
#deleteAccount, #editAccount {
	width:125px;
	margin-top:12px;
}
#submitDeposit{
	background:#16A808;
	border:solid seagreen 1px;
}
#submitDeposit:hover{
	background:green;
}
#submitWithdraw{
	background:red;
	border:solid #cf0000 1px;
}
#submitWithdraw:hover{
	background:#cf0000;
}
#submitDeposit, #submitWithdraw{
	height:40px;
	width:40px;
	border-radius:20px;
}
x#mainTable tr.editableRow:hover, x#mainTable tr.editableRow td:focus{
	background:blue;
}
#mainTable tr.selectedRow{
	background:yellow;
}
#mainTable td.edit, #mainTable td.delete{
	visibility: hidden;
	background:yellow;
	min-width:50px;
	color:black;
	text-align: center;
}
#mainTable td.delete{
	min-width:100px;
}
#mainTable td.edit:hover{
	background:green;
	cursor:pointer;
}
#mainTable td.delete:hover{
	background:red;
	cursor: pointer;
}
#mainTable tr.selectedRow td.edit, #mainTable tr.selectedRow td.delete{
	visibility: visible;
}
